/* App uses bootstrap; this is included after bootstrap.css */

body {
    margin-top: 1em;
}

.button-spacing {
    margin-right: 2em;
}
.button-inset {
    margin-left: 1em;
}

.ddl-label {
    vertical-align: middle;
}

.todoTable {
    margin-left: 2em;
    width: 100%;
}

    .todoTable .cbTD {
        padding-right: 1em;
        width: 1%;
    }

    .todoTable tr:nth-of-type(2n) {
        background-color: whitesmoke;
    }

.selectLine .btn {
    margin: .5em 1.5em 1em 0;
}

.selectLine .form-control {
    margin: .5em .5em 1em .5em;
}

.btn-invisible {
    box-shadow: none;
    border: none;
}